.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt50 { margin-top: 50px; }
.md25 { margin-bottom: 25px; }
.md30 { margin-bottom: 30px; }
.fz20 { font-size: 20px; }
.fz18 { font-size: 18px; }
.fz16 { font-size: 16px; }
.fleft { float: left; }
.fright { float: right; }
div.clear { clear: both; }

